{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "standard-react"
  ],
  "rules": {
    "comma-dangle": [
      "error",
      "always-multiline"
    ],
    "no-useless-catch": 0
  },
  "env": {
    "browser": true,
    "node": true
  }
}